body {
  background-color: #edf2f7;
}

.divlink {
  margin: 1vh;
  border-width: 1px;
  border-color: MidnightBlue;
  border-radius: 5px 5px 5px 5px;
  padding: 1vh;
  text-align: center;
  font-family: "Verdana";
  font-size: 4vw;
  color: MidnightBlue;
  background-color: #b0c4de;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.divlink:hover {
  background-color: MidnightBlue;
  color: white;
}
